---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

// Our variables
$base-font-family: Roboto, sans-serif;
$monospace-font-family: Monaco, Menlo, Consolas, "Courier New", DotumChe, monospace;
$base-font-size:   16px;

$bold-weight: 700;
$normal-weight: 400;
$base-font-weight: $normal-weight;

$small-font-size:  $base-font-size * 0.875;
$base-line-height: 1.85;

$spacing-unit:     30px;

$text-color:       #c7bebe;
$background-color: #131418;
$brand-color:      #DD7596;

$grey-color:       #757575;
$grey-color-light: lighten($grey-color, 45%);
$grey-color-dark:  darken($grey-color, 20%);

$separator-color: rgb(27, 29, 37);

// Width of the content area
$content-width:    800px;

$on-palm:          600px;
$on-laptop:        800px;

@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

// Import partials from the `whiteglass` theme.
@import "whiteglass";
